$brosiscolor: #2cc434;
$font-size: 30px;
$primary-background-color: hsl(0, 0%, 97%);
$ui-color: #3c3aa1;

:root {
    font-size: $font-size;
}

* {
    margin: 0;
}

.relation-graph {
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8rem;
    width: 90vw;
    height: 90vh;

    border: 1px solid rgb(104, 102, 102);
}

@-webkit-keyframes fadein {
  from: { opacity: 0; }
  to: { opacity: 1; }
}

@-moz-keyframes fadein {
  from: { opacity: 0; }
  to: { opacity: 1; }
}

@keyframes fadein {
  from: { opacity: 0; }
  to: { opacity: 1; }
}

.drop-zone {
  position: fixed; top: 0; left: 0;
  z-index: 1000;
  width: 100%; height: 100%;
  background-color: rgba($color: (#000000), $alpha: 0.5);
  transition: visibility 175ms, opacity 175ms;
  -webkit-animation: fadein 2s ease-in alternate infinite;
  -moz-animation: fadein 2s ease-in alternate infinite;
}


::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  ::-webkit-scrollbar-track {
    background: $primary-background-color;
    border: solid 80px transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: $ui-color;
    border: solid 30px transparent;
  }